*{
    box-sizing: border-box
    
}

body{
    background-color: rgb(33, 37, 41);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    
    }

a {
    all: unset;
}
.panel{
    height: 5vh;
    width: 100vw;
    background-color: #1A1D20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.panel img{
    height: 5vh;
    width: 30vw;
    
}

.panel span{
    float: left;
}

.leftPanel{
float: left;
background-color: #494d50;
height: 80vh;
width: 12vw;
border-bottom-right-radius: 15px;
border-top-right-radius: 15px;
margin-top: 5vh;
color: white;
}


.leftPanelNav {
    margin: 1vw;
    width: 10vw;
    height: 5vh;
    background-color: #1A1D20;
    font-size: 1.1rem;
    color: white;
    padding-left: 1vw;
    padding-top: 1vh;
    border-radius: 10px;
    font-size: calc(0.65vw + 0.65vh);
}

.leftPanelNav :hover{
    background-color: white;
    color: #1A1D20;
}


.feed{
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    margin-left: 15vw;
    background-color:white;
    width: 75vw;
    height: 80vh;
    border-radius: 10px;
    border: 2px solid black;
    color: #1A1D20;
    font-size: calc(0.65vw + 0.65vh);
    /*font-size: 2.1vh;*/
}
.feed_index{
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    margin-left: 15vw;
    background-color:white;
    width: 75vw;
    height: 80vh;
    border-radius: 10px;
    border: 2px solid black;
    color: #1A1D20;
    font-size: calc(0.65vw + 0.65vh);
    background-image: url('res/bg/bg_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*font-size: 2.1vh;*/
}

.feed_control{
    overflow: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    margin-left: 15vw;
    background-color:white;
    width: 75vw;
    height: 80vh;
    border-radius: 10px;
    border: 2px solid black;
    color: #1A1D20;
    font-size: calc(0.65vw + 0.65vh);
    background-image: url('res/bg/bg_3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*font-size: 2.1vh;*/
}

.feed h1{
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    text-align: center;
}

.feed_index h1{
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    text-align: center;
}
.feed_control h1{
    font-size: calc(2vw + 2vh);
    font-weight: bold;
    text-align: center;
}

.feed_linie{
    overflow: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    margin-left: 17vw;
    background-color:white;
    width: 75vw;
    height: 80vh;
    border-radius: 10px;
    border: 2px solid black;
    color:rgb(236, 236, 236);
    font-size: calc(0.65vw + 0.65vh);
    background-image: url('res/bg/bg_3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    color: white;
    text-align: center;
    background-color: #1A1D20;
}
